STORE_CORS=http://localhost:8000,https://www.aureherb.com,https://aureherb.com
ADMIN_CORS=http://localhost:5173,http://localhost:9000,https://api.aureherb.com
AUTH_CORS=http://localhost:5173,http://localhost:9000,https://api.aureherb.com,https://www.aureherb.com,https://aureherb.com
REDIS_URL=
JWT_SECRET=change-me
COOKIE_SECRET=change-me
DATABASE_URL=postgres://postgres:postgres@localhost:5432/medusa-aureherb
DB_NAME=medusa-aureherb
